@import "components/button.css";
@import "components/card.css";
@import "components/header.css";
@import "components/navigation.css";
@import "global.css";

main {
  display: flex;
  position: relative;
  top: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  flex-wrap: wrap;
}

footer {
  background-color: #7788ff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-around;
}
img {
  height: 50px;
}
.aktiv {
  background-color: orange;
  margin-top: 5px;
  border-radius: 20px;
}

.profPicName {
  display: flex;
  color: white;
  font-size: 200%;
  border-radius: 20px;
  height: 250px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.profPic {
  height: 150px;
  border: 2px solid orange;
  border-radius: 20px;
  height: 200px;
  width: 80%;
  padding: 20px;
  background-color: rgb(120, 120, 120);
}

.profName {
  height: 150px;
  border: 2px solid orange;
  border-radius: 20px;
  height: 200px;
  width: 80%;
  padding: 20px;
  background-color: rgb(120, 120, 120);
}

.ProInfo {
  color: white;
}

.ProAbout {
  color: white;
  border: 2px solid orange;
  border-radius: 20px;
  height: 50px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7788ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
