@import "components/button/button.css";
@import "components/card/card.css";
@import "components/header/header.css";
@import "components/navigation/navigation.css";
@import "global.css";

:root {
  --blue-color: #7788ff;
  --orange-color: orange;
  --background-dark: black;
  --background-light: rgb(230, 230, 230);
  --background-profil: rgb(120, 120, 120);
  --colorText-dark: white;
  --colorText-light: black;
}

main {
  display: flex;
  position: relative;
  top: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2,
h3 {
  color: var(--colorText-dark);
}

.profPicName {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--colorText-dark);
  font-size: 200%;
  border-radius: 1.25rem;
  height: 250px;
  width: 80%;
  margin: -10px;
}

.profPic {
  height: 150px;
  border: 2px solid var(--orange-color);
  border-radius: 50%;
  height: 200px;
  width: auto;
  padding: 1.25rem;
  background-color: var(--background-profil);
}

.profName {
  height: 150px;
  border: 2px solid var(--orange-color);
  border-radius: 1.25rem;
  height: 200px;
  width: 80%;
  padding: 1.25rem;
  background-color: var(--background-profil);
  vertical-align: middle;
}

.ProInfo {
  display: flex;

  flex-direction: column;
  color: var(--colorText-dark);
  margin: 1.25rem;
}

.ProAbout {
  border: 2px solid var(--orange-color);
  border-radius: 1.25rem;
  height: 50px;
  width: 200px;
  padding: 10px 0 0 20px;
  margin-bottom: -15px;
}

.aboutText {
  flex: 1;
  flex-wrap: wrap;
  text-align: justify;
  border: 2px solid var(--orange-color);
  border-radius: 1.25rem;
  height: 150px;
  padding: 20px;
  margin-bottom: -20px;
}

.counters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: var(--colorText-dark);
  margin: 20px;
}

.numCards,
.numBookmarks {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid var(--orange-color);
  border-radius: 1.25rem;
  height: 80px;
  width: 160px;
  padding: 10px;
  margin: 20px;
}

.cardImage {
  background-color: var(--orange-color);
  border-radius: 10px;
  border: 1px solid var(--blue-color);
  height: 50px;
  width: 5rem;
  padding: 15px 0 0 0px;
}

.countCards,
.countBookmarks {
  flex: 1;
  font-size: xx-large;
  font-weight: bolder;
}
