.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 150%;
  height: 300px;
  width: 80%;
  background-color: orange;
  margin: 10px 1.25rem 1.25rem 1.25rem;
  padding: 1.25rem;
  border: 1px solid #7788ff;
  border-radius: 1.25rem;
}

.show {
  background-color: aqua;
  font-size: 150%;
  color: blueviolet;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}
.show:hover {
  background-color: #7788ff;
  cursor: pointer;
}
.bookmark {
  background-color: azure;
  height: 40px;
  width: 30px;
  border: 3px solid#7788ff;
  border-radius: 0 0 1.25rem 1.25rem;
  position: absolute;
  top: -290px;
  right: -290px;
}
.bookmarkActive {
  background-color: #7788ff;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #7788ff;
  border: 2px solid white;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  top: -270px;
  right: -270px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
